# ignore everything by default
/*

!scripts/
.vim/*
!/.vim/
!.inputrc

!.zshrc
!.profile
!.bash_profile
!.xinitrc


!.config/
.config/*

!/.config/kitty/
!.config/youtube-dl/
!.config/nvim/
!.config/nvim/colors/
!.config/zsh/
!.config/bspwm/
!.config/sxhkd/

!globals
!aliases

!.gitignore
